body{
    background: rgba(0, 4, 10, 0.945);
}
button{
    background-color:#008B8B;
    margin-left: 3%;
}
.text{
    color: #008B8B;
    text-align: center;
    font-size: 64px;
}
.user__img{
    align-items: center;
    width: 777px;
    height: 777px;
}
.box{
    width: 150px;
    height: 100px;
    background-color: red;
}